.left-hand-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 150px;
    background-color: #5c5c5c;
    background-image: linear-gradient(
        to right,
        #5c5c5c,
        #5c5c5c 80%,
        #6c6c6c 100%
    );
}

.nav-item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}

.nav-item:last-of-type {
    border-bottom: 1px solid white;
}

.people {
    height: 150px;
    background-color: #cc79a7;
}
